.deck-container {
	font-size: 1.75em;
	background: #757373;
	/* W3C */
	background-attachment: fixed;
}

.logo {
	height:60%;
}

.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #80C6F2;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}

.deck-container .slide h2 {
  color: #80C6F2;
}

.deck-container .slide h3 {
  color: #80C6F2;
}